page-order {

 
    .fullscreen {
        height: 100%;
    }
    .background{background-color: #25066b;
        // border:2px solid green;
        border-radius: 3px;

    }
    .bakground1{
        margin-top: 100px;
    }
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border:2px solid #47149c;
            border-radius: 0px;
            background-color: white;
            color: #47149c;
    border-left: none;
    border-top-style: none;
    border-right-style: none
            
        }
        input[type="email"].big-dog::-webkit-input-placeholder {
            color: #47149c;
          }
          input::placeholder {
            color: #47149c;
          }
        .text-input::-moz-placeholder {
            color: #47149c;
          }
          
          .text-input:-ms-input-placeholder {
            color: #47149c;
          }
          
          .text-input::-webkit-input-placeholder {
            text-indent: 0;
            color: #47149c;
          }
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border:2px solid #47149c;
            border-radius: 0px;
            background-color: white;
            color: #47149c;
    border-left: none;
    border-top-style: none;
    border-right-style: none   
            
        }
        .forgetpassword{
    color: #47149c;
    float: right;
    font-family: cursive
        }
    
    .background-button{
        background-color: #47149c;
    
           
      
    }
        .ico{
    
            margin-top: 5%
        }
        .forSignup{
            color: #47149c;
        }
        ::-webkit-input-placeholder {
            text-align: center;
         }
         
         :-moz-placeholder { /* Firefox 18- */
            text-align: center;  
         }
         
         ::-moz-placeholder {  /* Firefox 19+ */
            text-align: center;  
         }
         
         :-ms-input-placeholder {  
            text-align: center; 
         }
         .wrapper {
            text-align: center;
        }
        
        .button {
             
        }
        .logo-login {
            float: left;
         position: absolute;
         height: 18px;
         padding-right: 9px;
         margin: 22px;
         }    
         .search {
             margin-top: 30px;
             text-align: center;
         }
           .inp-Width {
             width: 60%;
             /*left: 70px;*/
         }.line-vertical {
             color: #47149c;
             padding-left: 13px;
         }    .inp-bodre-style {
             background-color: transparent;
             /*border-style: none*/
             border-left: none;
             border-right: none;
             border-top: none;
             border-bottom-color: #47149c;
         }
         .email-icon{
            float: left;
    position: absolute;
    height: 18px;
    padding-right: 9px;
    /* margin: 20px; */
    margin-top: 22px;
    margin-left: 17px;

            
         }
         .circle-image{
             height: 100px;
             width: 100px;
             border-radius: 100px;
             background-color: #7d50e6;
         }
         .x-signup{
             color: #47149c;
             font-size: large;

         }
         .cart-icon{
         font-size: 13.2em;
         color: #47149c;
         text-align: center;
         display: block;

    }


    .deleteBtn{
        float: right;
        margin-right: 13px;
        margin-top: 10px;
        opacity: 0.3;
    
    }
    .imgSize{
        width: 100px;
        height: 88px;
    }
    .logo-loginLeft {
        position: relative;
        margin-right: 20px;
        float: right;
        height: 111px;
        width: 100px;
        z-index: 1000;
        /* padding-right: 9px; */
        margin-top: 484px;
        color: #7d50e6;
        font-size: 5.2em;
    }
          @media only screen and ( min-width: 500px) and (max-width: 650px) {
     .logo-loginLeft {
        position: relative;
        margin-right: 20px;
        float: right;
        height: 111px;
        width: 100px;
        z-index: 1000;
        /* padding-right: 9px; */
        margin-top: 484px;
    }
    }
    // .logo-loginLeft{
        
    //     position: absolute;
    //     height: 111px;
    //     z-index: 1000;
    //     padding-right: 9px;
    //     margin-top: -37px;
    //     background-color: black;
    // }
    .fontColor{
        color: #7d50e6;
        font-family: cursive;
    
      }
      .fontColor1{
        color: #7d50e6;
        margin-left: 29px;
        padding-top: 18px;
        font-family: cursive;
    
      }
      .myCart{
        background-color: #25066b;
        height: 50px;
        margin-top: -17px;  }
      

        // ion-buttons {
            // margin-left: 3rem;
            // }
    
            // .back-button {
            //     display: inline-block;
            // }

.ico{

    position: absolute;
    margin-top:-13px;
    margin-left: 16px;
    font-size: 2.2em;
    color: white;

}


}
