<div class="fullscreen" padding>
    
      <ion-content  class="background">
          <p class="x-signup" (click)="gotohome()">X  Home</p>   
      
        <div class="wrapper">
          <p class="product_details">Enter Product Detais</p>   
    
    
        </div> 
        <form (submit)="product()">
    
          <div align="center">
            <label class="inp-Width inp-bodre-style">
             
              <input 
                        class="search" 
                        type="text" 
                        placeholder="name"
                        [(ngModel)]="name" 
                        name="name"
                        required
                        #login_form="ngModel" 
                        >
            </label>
            </div>
            <div align="center">
              <label class="inp-Width inp-bodre-style">
             
                <input 
                class="search" 
                type="text" 
                placeholder="Pro Descrp"
                [(ngModel)]="ProDescrp" 
                name="ProDescrp"
                required
                #login_form="ngModel" 
                >
              </label>
              </div>
              <div align="center">
                <label class="inp-Width inp-bodre-style">
                 
                  <input 
                            class="search" 
                            type="text" 
                            placeholder="Price"
                            [(ngModel)]="Price" 
                            name="Price"
                            required
                            #login_form="ngModel" 
                            >
                </label>
                </div>
                <div align="center">
                  <ion-item>
                    <ion-label class="inp-Width inp-bodre-styl" >Available/not Available</ion-label>
                    <ion-select [(ngModel)]="SubCategoryId"  [ngModelOptions]="{standalone: true}" (ionChange)="Categary(SubCategoryId);">
                      <ion-option value="1">Available </ion-option>
                      <ion-option value="2">Not Available </ion-option>
                 
                    </ion-select>
                  </ion-item>
                      <!-- <ion-label>Categary</ion-label>
                      <ion-select [(ngModel)]="categories"  [ngModelOptions]="{standalone: true}">
                        <ion-option value="1">Fast food</ion-option>
                        <ion-option value="2">Cloths</ion-option>
                        <ion-option value="3">Mobile</ion-option>
                        <ion-option value="4">Others</ion-option>
    
                      </ion-select> -->
                
                
                  </div>
                  <!-- <div align="center">
                    <label class="inp-Width inp-bodre-style">
                     
                      <input 
                                class="search" 
                                type="text" 
                                placeholder="SubCategoryId"
                                [(ngModel)]="SubCategoryId" 
                                name="SubCategoryId"
                                required
                                #login_form="ngModel" 
                                >
                    </label>
                    </div> -->
                  <!-- <div align="center">
                    <label class="inp-Width inp-bodre-style">
                     
                      <input 
                                class="search" 
                                type="text" 
                                placeholder="addBy"
                                [(ngModel)]="addBy" 
                                name="addBy"
                                required
                                #login_form="ngModel" 
                                >
                    </label>
                    </div> -->
              <ion-grid>
                <ion-row>
                  <ion-col col-6> <div class="wrapper">
          <p class="product_details">Picture Upload</p>   
          
             
                  </div></ion-col>
                  <ion-col col-6>
                    <img [src]="base64Image" *ngIf="base64Image" />
                    
                  </ion-col>
                  
                </ion-row>
               
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col col-6>
                    <div class="wrapper">
                 
                    <button  ion-button class="button background-button2 center" round  type="submit">Enter</button>
                  </div>
                </ion-col>
                  <ion-col col-6>
                    <div class="wrapper">
                 
                  </div>
                </ion-col>
                  
                </ion-row>
               
              </ion-grid>
            </form>
          <button ion-button class="button background-button1 center" round (click)="accessGallery()">Open Gallery</button>
          <button  ion-button class="button background-button center" round (click)="cancleUpload()">Cancle</button>
            
      </ion-content>
      </div>
     