<ion-header>
    <ion-navbar color="navi">
        <ion-icon (click)="onclose()" class="ico" ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
      <ion-title>
     
      </ion-title>
     
    </ion-navbar>
  </ion-header>

<ion-content class="card-background-page background" >
    <div class="myCart">
      <h2  class="fontColor1">Packet</h2>
    </div>
          <ion-row>
            <ion-col col-12 >
   
    <ion-icon class="deleteBtn" (click)="delteCart($event,id)">  X</ion-icon>
      
        <ion-item>
            <ion-avatar item-start>
              <img src="https://images.pexels.com/photos/8204/night.jpg?auto=compress&cs=tinysrgb&h=350" />
                      </ion-avatar>
            <h2  class="fontColor">item.Decription</h2>
            <p  class="fontColor">item.MainID</p>
          </ion-item>
    </ion-col>
    
     </ion-row>
  
     <ion-row>
        <ion-col col-12 >
  
  <ion-icon class="deleteBtn" (click)="delteCart($event,id)">  X</ion-icon>
  
    <ion-item>
        <ion-avatar item-start>
          <img src="https://images.pexels.com/photos/8204/night.jpg?auto=compress&cs=tinysrgb&h=350" />
                  </ion-avatar>
        <h2  class="fontColor">item.Decription</h2>
        <p  class="fontColor">item.MainID</p>
      </ion-item>
  </ion-col>
  
  </ion-row>
  
  
  <ion-row>
      <ion-col col-12 >
  
  <ion-icon class="deleteBtn" (click)="delteCart($event,id)">  X</ion-icon>
  
  <ion-item>
      <ion-avatar item-start>
        <img src="https://images.pexels.com/photos/8204/night.jpg?auto=compress&cs=tinysrgb&h=350" />
                </ion-avatar>
      <h2  class="fontColor">item.Decription</h2>
      <p  class="fontColor">item.MainID</p>
    </ion-item>
  </ion-col>
  
  </ion-row>
    </ion-content>
  
    <!-- <ion-icon class="logo-loginLeft" height="20px" width="20px" ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon> -->
        <!-- <img class="logo-loginLeft" height="20px" src="assets/imgs/d41abb1b - Copy.png" alt="" width="20px"> -->
  
  