<ion-header>
        <ion-toolbar color="navi">
          <ion-buttons left>
            <button class="sidemenuBackground" ion-button menuToggle>
                    <!-- <ion-icon ios="ios-menu-outline" md="ios-menu-outline"></ion-icon> -->
                </button>
          </ion-buttons>
          <!-- <img class="background-image" src="assets/imgs/icon.png" />  -->
          </ion-toolbar>
      </ion-header>
<ion-content class="background">

    <ion-slides  class="slidess">
        <ion-slide *ngFor="let checklists1 of checklists1">
         <img  [src]="checklists1.title"  class="responsive">
     </ion-slide>
         
         </ion-slides>

  <div class="header">
    
<ion-row>

  <!-- <p [class.hide]="!availableity" >dffdfd </p> -->



  
        <h1>
                <button ion-button color="dark" full round (click)="scan()">Start Scan</button>
              </h1>
              
              <ion-card *ngIf="productFound">
                <ion-card-header>
                  <h2>Price: $ {{selectedProduct.price}}</h2>
                </ion-card-header>
                <ion-card-content>
                  <ul>
                    <li>{{selectedProduct.plu}}</li>
                    <li>{{selectedProduct.name}}</li>
                    <li>{{selectedProduct.desc}}</li>
                  </ul>

                  
                  <button ion-button color="dark" full round (click)="client()">Start dircetion</button>
                  
                </ion-card-content>
              </ion-card>
</ion-row>


      <!-- <ion-row>
          <ion-col col-6 (click)="client()">
              <ion-card>
                  <ion-icon class="iocon-center" ios="ios-people-outline" md="md-people"></ion-icon> 
                     <ion-card-content>
                    <ion-card-title>
                      Client
                      </ion-card-title>
                  </ion-card-content>
                </ion-card>
          </ion-col>
  
          <ion-col col-6 (click)="packet()">
              <ion-card>
                  <ion-icon class="iocon-center" ios="ios-list-box" md="md-list-box"></ion-icon>
                  <ion-card-content>
                    <ion-card-title>
                      Packet
                      </ion-card-title>
                  </ion-card-content>
                </ion-card>
          </ion-col>
        </ion-row> -->
<!--       
          <ion-row>
              <ion-col col-6 (click)="rider()">
                  <ion-card>
                      <ion-icon class="iocon-center" ios="ios-bicycle-outline" md="md-bicycle"></ion-icon>
                      <ion-card-content>
                        <ion-card-title class="text-center"> 
                          Rider
                          </ion-card-title>
                      </ion-card-content>
                    </ion-card>
              </ion-col>
      
              <ion-col col-6  (click)="order()">
                  <ion-card>
                      <ion-icon class="iocon-center" ios="ios-list-box" md="md-list-box"></ion-icon>
                      <ion-card-content>
                        <ion-card-title>
                           order
                          </ion-card-title>
                      </ion-card-content>
                    </ion-card>
              </ion-col>
            </ion-row>
     -->
      
   
  
  
          </div>
  </ion-content>
  