page-home {
    .hide {
        display: none;
      }
    .background{
        background-color: #47149c;
        // border: 7px solid #47149c;
        border-radius: 5px;
    }
    .card-title-md {
        display: block;
        font-size: 2.4rem;
        line-height: 1.2;
        color: #fbfbfb;
        margin: 2px 0;
        padding: 8px 0;
        text-align: center;
    }
    @media only screen and ( min-width: 300px) and (max-width: 650px) {
        ion-icon {
            display: inline-block;
            font-size: 6.2em;
margin-top:43px;
            text-align: center;
        }
    }
.header{margin-top: 0px;

}
    .iocon-center{
        text-align: center;
    /* position: initial; */
    display: block;
    color: white;
    }
    .card-md {
        margin: 10px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #7d50e6;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .responsive1 {
        background-size: cover;
        height: 82px;
        }
        .responsive {
        background-size: cover;
        
        }
        .slidess{
            height: 157px;        
        }
        ion-buttons {
            margin-left: 3rem;
            }
    
            .back-button {
                display: inline-block;
            }
}
