page-signin {
    .fullscreen {
        height: 100%;
    }
    .background{
        background-color: #47149c;
        // border: 7px solid #47149c;
        border-radius: 5px;
    }
    .bakground1{
        margin-top: 100px;
    }
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border:2px solid #47149c;
            border-radius: 0px;
            background-color: white;
            color: #47149c;
    border-left: none;
    border-top-style: none;
    border-right-style: none
    
            
        }
        input[type="email"].big-dog::-webkit-input-placeholder {
            color: #47149c;
          }
          input::placeholder {
            color: #47149c;
          }
        .text-input::-moz-placeholder {
            color: #47149c;
          }
          
          .text-input:-ms-input-placeholder {
            color: white;
          }
          
          .text-input::-webkit-input-placeholder {
            text-indent: 0;
            color: #47149c;
          }
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border:2px solid #47149c;
            border-radius: 0px;
            background-color: white;
            color: #47149c;
    border-left: none;
    border-top-style: none;
    border-right-style: none     
            
        }
        .forgetpassword{
    color: #47149c;
    float: right;
    font-family: cursive
        }
    
    .background-button{
        background-color: #47149c;
    
           
      
    }
        .ico{
    
            margin-top: 5%
        }
        .forSignup{
            color: #fbfbfb;
        }
        ::-webkit-input-placeholder {
            text-align: center;
         }
         
         :-moz-placeholder { /* Firefox 18- */
            text-align: center;  
         }
         
         ::-moz-placeholder {  /* Firefox 19+ */
            text-align: center;  
         }
         
         :-ms-input-placeholder {  
            text-align: center; 
         }
         .wrapper {
            text-align: center;
        }
        
        .button {
             
        }
        .logo-login {
            float: left;
         position: absolute;
         height: 18px;
         padding-right: 9px;
         margin: 22px;
         }    
         .search {
             margin-top: 30px;
             text-align: center;
         }
           .inp-Width {
             width: 60%;
             /*left: 70px;*/
         }.line-vertical {
             color: #47149c;
             padding-left: 13px;
         }    .inp-bodre-style {
             background-color: transparent;
             /*border-style: none*/
             border-left: none;
             border-right: none;
             border-top: none;
             border-bottom-color: #47149c;
         }
         .email-icon{
            float: left;
    position: absolute;
    height: 18px;
    padding-right: 9px;
    /* margin: 20px; */
    margin-top: 22px;
    margin-left: 17px;

            
         }
         .circle-image{
             height: 100px;
             width: 100px;
             border-radius: 100px;
             background-color: #47149c;
         }
         .x-signup{
             color: #fbfbfb;
             font-size: large;

         }
         .ico{
            margin-top: 22px;
            position: absolute;
            margin-left: 10px;
            font-size: 2.1em;
            color: #47149c;            }
}
