
<div class="fullscreen" padding>

  <ion-content  class="background">
    
      <p class="x-signup" (click)="signUpCancle()">X SIGN UP</p>   
      <!--   
          <div class="wrapper">
            <img class="circle-image" src="assets/imgs/img_326343 - Copy.png" /> 
          </div>  -->
    <!-- (submit)="submit()" -->
    <form  class="bakground1">
 <div align="center">
        <label class="inp-Width inp-bodre-style">
            <ion-icon class="ico" ios="ios-people" md="md-people"></ion-icon>

            <!-- <img class="logo-login" src="assets/imgs/img_326343 - Copy.png" alt=""> -->
          <input 
          class="search" 
          type="text" 
          placeholder="Username"             
          [(ngModel)]="username" 
          name="username"
          required
          #login_form="ngModel"
          >
        </label>
        </div> 
   
            <div align="center">
              <label class="inp-Width inp-bodre-style">
                  <ion-icon class="ico" ios="ios-lock" md="md-lock"></ion-icon>
                
                  <!-- <img class="logo-login" src="assets/imgs/Security-Password-2-icon.png" alt=""> -->
                <!--<span class=" font-opacity">PASSWORD</span>-->
                <input 
                class="search" 
                type="password" 
                placeholder="PASSWORD"
                [(ngModel)]="password" 
                name="password"
                required
                #login_form="ngModel" 
                >
              </label>
              </div>
                    <!--<span class=" font-opacity">PASSWORD</span>-->

              <!-- <div align="center">
                <label class="inp-Width inp-bodre-style">
                    <img class="logo-login" src="assets/imgs/Security-Password-2-icon.png" alt="">
                  <input 
                  class="search" 
                  type="password" 
                  placeholder="RE PASSWORD"
                  [(ngModel)]="Repassword" 
                  name="Repassword"
                  required
                  #login_form="ngModel" 
                  >
                </label>
                </div> -->
                <!-- <div align="center">
                  <label class="inp-Width inp-bodre-style">
                      <img class="logo-login" src="assets/imgs/Security-Password-2-icon.png" alt="">
                    <input 
                    class="search" 
                    type="password" 
                    placeholder="RE PASSWORD"
                    [(ngModel)]="ProductId" 
                    name="ProductId"
                    required
                    #login_form="ngModel" 
                    >
                  </label>
                  </div> -->
                  <!-- <div align="center">
                    <label class="inp-Width inp-bodre-style">
                        <img class="logo-login" src="assets/imgs/Security-Password-2-icon.png" alt="">
                      <input 
                      class="search" 
                      type="password" 
                      placeholder="RE PASSWORD"
                      [(ngModel)]="Pname" 
                      name="Pname"
                      required
                      #login_form="ngModel" 
                      >
                    </label>
                    </div> -->
                  <br>
                  <br>   
                  <div class="wrapper">
             <!-- [disabled]="!login_form.valid"  type="submit"  -->
                  <button  ion-button class="button background-button center" round (click)="gotomain()"    >SIGN IN</button>
                </div>
                <!-- [disabled]="!login_form.valid" -->
                  <br>
                  <br>
                  <p class="forSignup"  align="center" (click)="signUpCancle()">Already member? Sign in</p>
                  <!-- <ion-content>
                    Add your content here!
                  </ion-content> -->
        </form>
  </ion-content>
  </div>

