// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bar-button-menutoggle {
    z-index: 1000;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-color: #47149c
  }
  
.sidemenuBackground{
    // background-color: #e6b145;
    // color:#47149c;
}.toolbar-md-navi1 .bar-button-clear-md, .toolbar-md-navi1 .bar-button-default-md, .toolbar-md-navi1 .bar-button-outline-md, .toolbar-md-navi1 .toolbar-title-md{
    color:#47149c;
    
}.HEADER{
    height: 200px;
    width: 100%;
    background-color: #47149c
    
}
.subDiv{
    border-right: 2px solid #47149c;

    background-color:#47149c;
}
.subDiv1{
    height: 400px;
 border-top: 2px solid #47149c;
}
.logo-login {
//     float: left;
//  position: absolute;
 height: 18px;
 padding-right: 9px;
 margin: 22px;
 } 
 .list-style{
     list-style: none;
    
 }
 .master-page-text{
    // height: 43px;
    font-family: Bauhaus Std;
    color: white;
    margin-top: 23px;
    /* margin-right: 31px; */
    margin-left: 10px;
    font-size: 1.7em;
 }
 .rowGrid{
    margin-top: -5px;
    
    margin-left: -5px;
 }
 .logo-header{
    // height: 102px;
    font-size: 10.2em;
    
 }
 .wrapper {
    text-align: center;
    color:white;
}
.circle-image{
    height: 89px;
    width: 100px;
    border-radius: 100px;
    background-color: white;
    position: initial;
    // margin-top: -50px;
}
.wrapper1 {
    font-size: small;
    text-align: center; 
    color: white;
    font-family: Bauhaus Std;
    // padding-left: 120px;
    line-height: 2px;
    
}
.grid {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #2e0d65;
}
.ioc{
    color: white;
    font-size: 2.5em;
    margin-top: 16px;
    margin-left: 7px;

}