<ion-menu id="myMenu" [content]="content">
        <ion-header color="navi">
          <ion-toolbar color="navi">
            
            <ion-title></ion-title>
          </ion-toolbar>
        </ion-header>
      
        <ion-content class="sidemenuBackground" color="navi" >
         
      <div class="HEADER">
        <div class="wrapper">
            <ion-icon class="logo-header" ios="ios-contact-outline" md="ios-contact-outline"></ion-icon>

        <!-- <img algin="center" class="logo-header" src="assets/imgs/icon.png" alt=""> -->
      </div>
      <div class="wrapper">
        <!-- <img class="circle-image" src="assets/imgs/img_326343 - Copy.png" />  -->
      </div> 
      <div class="wrapper1">
      <p class="">Name</p>
      <p class="">Email</p>
      </div> 
      </div>
      <ion-grid>
      <ion-row class="rowGrid">
        <ion-col col-2 class="subDiv">
          <div>  
           
              <li class="list-style">
                  <!-- <ion-icon class="ioc" ios="ios-contact-outline" md="ios-contact-outline"></ion-icon> -->

                <!-- <img class="logo-login" src="assets/imgs/118781 - Copy.png" alt=""> -->
              </li>          
              <li class="list-style">
                <!-- <img class="logo-login" src="assets/imgs/137034-200 - Copy.png" alt=""> -->
                <ion-icon class="ioc" ios="ios-people-outline" md="ios-people-outline"></ion-icon> 

              </li>
              <li class="list-style">
                  <ion-icon class="ioc" ios="ios-list-box-outline" md="ios-list-box-outline"></ion-icon>

                <!-- <img class="logo-login" src="assets/imgs/137034-200 - Copy.png" alt=""> -->
              </li>
      
              <li class="list-style">
                  <ion-icon class="ioc" ios="ios-bicycle-outline" md="ios-bicycle-outline"></ion-icon>

                <!-- <img class="logo-login" src="assets/imgs/175022-200 - Copy.png" alt=""> -->
              </li>
              <li class="list-style">
                  <ion-icon class="ioc" ios="ios-cart-outline" md="ios-cart-outline"></ion-icon>

                <!-- <img class="logo-login" src="assets/imgs/Ic_notifications_on_48px.svg - Copy.png" alt=""> -->
              </li>
      
              <li class="list-style">
                  <ion-icon class="ioc" ios="ios-alert-outline" md="ios-alert-outline"></ion-icon>

                <!-- <img class="logo-login" src="assets/imgs/about - Copy.png" alt=""> -->
              </li>
              <li class="list-style">
                  <ion-icon class="ioc" ios="ios-unlock-outline" md="ios-unlock-outline"></ion-icon>

                <!-- <img class="logo-login" src="assets/imgs/img_335485 - Copy.png" alt=""> -->
              </li>
      
        </div>
        </ion-col>
        <ion-col col-10 class="subDiv1">
          <div>  
            <!-- <li class="list-style"> <p class="master-page-text" menuClose>Profile</p></li> -->
            <li class="list-style" (click)="openDetails1()"> <p menuClose class="master-page-text" >Client</p></li>
            <li class="list-style" (click)="openDetails2()"> <p menuClose class="master-page-text" >Packet</p></li>
      
            <li class="list-style"> <p class="master-page-text" menuClose (click)="openDetails3()" >Rider</p></li>
            
            <li class="list-style"> <p class="master-page-text" menuClose (click)="openDetails4()" >Order</p></li>
            <li class="list-style"> <p class="master-page-text" menuClose >about</p></li>
            <li class="list-style"> <p class="master-page-text"  menuClose (click)="logoutUser()">Logout</p>
              <!-- <p class="master-page-text" ></p></li> -->
            <!-- <h2 *ngIf="isAuthenticated()" text-center>User is logged in!</h2>
      <h2 *ngIf="!isAuthenticated()" text-center>User is not logged in!</h2>
      
      <button full ion-button color="primary" (click)="loginUser()">Login</button>
      <button full ion-button color="danger" (click)="logoutUser()">Logout</button>
      <button full ion-button color="secondary" *ngIf="isAuthenticated()" (click)="nextPage()">Next Page</button> -->
             </div>
        </ion-col>
      </ion-row>
      </ion-grid>
        </ion-content>
      
      </ion-menu>
      
      <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
      <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>