<!--
  Generated template for the TestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="headder">
    <ion-title>
     teast
    </ion-title>
   
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
